*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    height: 80px;
    display: flex;
    align-items: center;
    background: linear-gradient(122deg, #FBB8FF 1.76%, #ABF7F8 103.04%);
}

.navbar .container{
    width: 100%;
}
.navbar-brand{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.8rem;
}
.navbar-brand-text{
    color: #A053CF;
    font-weight: 600;
}
.navbar-brand-text span{
    color: var(--clr-blue);
}
.navbar-brand-icon{
    width: 25px;
    margin-right: 6px;
    opacity: 0.8;
}
.brand-and-toggler{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.brand-and-toggler img{
    height: 80px;
}